html, body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0 16px;
  padding-left: 12px;
}
header a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}
header img {
  width: 64px;
  height: auto;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}
